/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
#issuem-featured-article-slideshowholder .flex-container a:active,
#issuem-featured-article-slideshowholder .issuem-flexslider a:active,
#issuem-featured-article-slideshowholder .flex-container a:focus,
#issuem-featured-article-slideshowholder .issuem-flexslider a:focus  {outline: none;}
#issuem-featured-article-slideshowholder .slides,
#issuem-featured-article-slideshowholder .flex-control-nav,
#issuem-featured-article-slideshowholder .flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
#issuem-featured-article-slideshowholder .issuem-flexslider {margin: 0; padding: 0;}
#issuem-featured-article-slideshowholder .issuem-flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; list-style-type: none; margin: 0;} /* Hide the slides before the JS is loaded. Avoids image jumping */
#issuem-featured-article-slideshowholder .issuem-flexslider .slides img {width: 100%; max-width: 100%; display: block; margin: 0; padding: 0; border: none;}
#issuem-featured-article-slideshowholder .flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
#issuem-featured-article-slideshowholder .slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] #issuem-featured-article-slideshowholder .slides {display: block;} 
* html #issuem-featured-article-slideshowholder .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js #issuem-featured-article-slideshowholder .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
#issuem-featured-article-slideshowholder .issuem-flexslider {background: #fff; position: relative; zoom: 1;}
#issuem-featured-article-slideshowholder .flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading #issuem-featured-article-slideshowholder .flex-viewport {max-height: 300px;}
#issuem-featured-article-slideshowholder .issuem-flexslider .slides {zoom: 1;}

#issuem-featured-article-slideshowholder .carousel li {margin-right: 5px}


/* Direction Nav */
#issuem-featured-article-slideshowholder .flex-direction-nav {*height: 0;}
#issuem-featured-article-slideshowholder .flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
#issuem-featured-article-slideshowholder .flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
#issuem-featured-article-slideshowholder .flex-direction-nav .flex-prev {left: -36px;}
#issuem-featured-article-slideshowholder .issuem-flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
#issuem-featured-article-slideshowholder .issuem-flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
#issuem-featured-article-slideshowholder .issuem-flexslider:hover .flex-next:hover, .issuem-flexslider:hover .flex-prev:hover {opacity: 1;}
#issuem-featured-article-slideshowholder .flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
#issuem-featured-article-slideshowholder .flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
#issuem-featured-article-slideshowholder .flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
#issuem-featured-article-slideshowholder .flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
#issuem-featured-article-slideshowholder .flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
#issuem-featured-article-slideshowholder .flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

#issuem-featured-article-slideshowholder .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
#issuem-featured-article-slideshowholder .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
#issuem-featured-article-slideshowholder .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
#issuem-featured-article-slideshowholder .flex-control-thumbs img:hover {opacity: 1;}
#issuem-featured-article-slideshowholder .flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

/* Captions */
#issuem-featured-article-slideshowholder .flex-caption {
    background-color: #000000;
    bottom: 0;
    color: #FFFFFF;
    opacity: 0.7;
    position: absolute;
    z-index: 1000;
	display: block;
}
#issuem-featured-article-slideshowholder .flex-caption .flex-caption-content {
    padding: 3px;
}

@media screen and (max-width: 860px) {
  #issuem-featured-article-slideshowholder .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  #issuem-featured-article-slideshowholder .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}