/* CSS Document */

.issuem_archives_shortcode {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.issuem_archive {
	position: relative;
	float: left;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	padding: 5px;
	font-size: 9pt;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid transparent;
}i

.issuem_issue_draft {
	background: #FCF;
	border: 1px solid #F0F;
}

#issuem-featured-article-slideshowholder {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 35px;
	border: 1px solid black;
}

#issuem-featured-article-slideshowholder .ft-title {
	padding-left: 5px; 
	padding-right: 5;
    font-size: 12px;
    font-weight: bold;
	line-height: 12pt;
}

#issuem-featured-article-thumbs-wrap {
	margin-bottom: 25px;
	text-align: center;
	overflow: hidden;
}

.issuem-featured-article-thumb {
	width: 29%;
	float: left;
	padding: 0 2%;
}

.issuem-featured-thumb-title {
	text-align: center;
}

.featured-thumb-content {
	text-align: center;	
}

.featured-thumb-byline {
	display: block;
	text-align: center;	
	clear: both;
	font-size: 12px;
	line-height: 12pt;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.issuem_active_list_widget, .issuem_article_list_widget {
	text-align: center;
}

p.issuem_widget_issue_name {
	margin: 0;
	font-size: 14pt;
	font-weight: bold;
}

p.issuem_widget_issue_cover_image {
	margin: 0;	
}

p a.issuem_widget_issue_pdf_link {
	margin: 0;	
}

.issuem_article_list_widget p {
	margin: 0;
	line-height: 14pt;
}

.issuem_article_list_widget .issuem_widget_category {
	color: #D76A2A;
    font-size: 9pt;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 15px 0 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}

.issuem_article_list_widget .issuem_widget_link {
	color: #0D4980;
    font-size: 14pt;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center;
}

.issuem_article_list_widget #current_article .issuem_widget_link {
	font-weight: bold;
	color: inherit;
}

.issuem_article_list_widget .issuem_widget_tease
    font-size: 11pt;
    font-weight: normal;
    line-height: 1;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}

.issuem_articles_shortcode {
	text-align: center;
}

.issuem_articles_shortcode p {
	text-align: center;	
	margin: 0;
}

.issuem_articles_shortcode .issuem_article {
	margin-bottom: 15px;
}

.issuem_articles_shortcode .issuem_article_category {
    color: #D76A2A;
    font-size: 9pt;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.issuem_articles_shortcode .issuem_article_link {
    color: #0D4880;
    font-size: 14pt;
    font-weight: normal;
}

.issuem_articles_shortcode .issuem_article_content {
    font-weight: normal;
}

.issuem_articles_shortcode .issuem_article_byline {
    font-size: 9pt;
    text-transform: uppercase;
    color: #231F20;
    font-weight: normal;
	letter-spacing: 0.1em;
}

div.api_error {
	clear: both;
	text-align: center;
}

.next_previous_archive_pagination {
	clear: both;
	display: block;
	width: 100%;
}

@media all and (max-width: 600px) {
	.issuem-featured-article-thumb {
		width: 100%;
		float: none;
		padding: 0 0 40px 0;
	}
}